body
{
	font-family: "Century Gothic","Calibri","Arial","Verdana";
	font-size: 20px;
	background-color: #F5F5F5;
}

.row
{
	padding-right: 50px;
	padding-left: 50px;
}

#header
{
	height: 250px;
	background-color: #8BC34A;
	text-align: center;
}

#header-text
{
	font-size: 50px;
	color: #FFFFFF;
}

#tableheader
{
	color: #558B2F;
}

#updatechecked
{
	display: none;
}