body
{
	font-family: "Century Gothic","Calibri","Arial","Verdana";
	font-size: 20px;
	background-color: #D4E0F9;
}

#header
{
	height: 300px;
	background-color: #0D47A1;
	text-align: center;
}

#header-text
{
	font-size: 50px;
	color: #FFFFFF;
}

.main
{
	text-align: center;
}

.bManufacturers
{
	font-size: 30px;
	width: 200px;
}